.c1{
    background-image: url('../images-planets/1-tatooine.png');
}

.c2{
    background-image: url('../images-planets/2-alderaan.png');
}

.c3{
    background-image: url('../images-planets/3-yavin-IV.png');

}

.c4{
    background-image: url('../images-planets/4-hoth.png');
}

.c5{
    background-image: url('../images-planets/5-dagobah.png');
}

.c6{
    background-image: url('../images-planets/6-bespin.png');
}

.c7{
    background-image: url('../images-planets/7-endor.png');
}

.c8{
    background-image: url('../images-planets/8-naboo.png');
}

.c9{
    background-image: url('../images-planets/9-coruscant.png');
}

.c10{
    background-image: url('../images-planets/10-kamino.png');
}

.c11{
    background-image: url('../images-planets/11-geonosis.png');
}

.c12{
    background-image: url('../images-planets/12-utapau.png');
}

.c13{
    background-image: url('../images-planets/13-mustafar.png');
}

.c14{
    background-image: url('../images-planets/14-kashyyyik.png');
}

.c15{
    background-image: url('../images-planets/15-polis-massa.jpg');
}

.c16{
    background-image: url('../images-planets/16-migeeto.png');
}

.c17{
    background-image: url('../images-planets/17-felucia.png');
}

.c18{
    background-image: url('../images-planets/18-cato-neimoidia.png');
}

.c19{
    background-image: url('../images-planets/19-saleucami.png');
}

.c20{
    background-image: url('../images-planets/20-stewjon.png');
}

.c21{
    background-image: url('../images-planets/21-eriadu.png');
}

.c22{
    background-image: url('../images-planets/22-corellia.png');
}

.c23{
    background-image: url('../images-planets/23-rodia.png');
}

.c24{
    background-image: url('../images-planets/24-nal-hutta.png');
}

.c25{
    background-image: url('../images-planets/25-dantooine.jpg');
}

.c26{
    background-image: url('../images-planets/26-Bestine.png');
}

.c27{
    background-image: url('../images-planets/27-Ord_Mantel.png');
}

.c28{
    background-image: url('../images-planets/28-unknown.jpg');
}

.c29{
    background-image: url('../images-planets/29-Trandosha.png');
}

.c30{
    background-image: url('../images-planets/30-socorro.png');
}

.c31{
    background-image: url('../images-planets/31-mon-cala.png');
}

.c32{
    background-image: url('../images-planets/32-Chandrila.png');
}

.c33{
    background-image: url('../images-planets/33-Sullust.png');
}

.c34{
    background-image: url('../images-planets/34-Toydaria.png');
}

.c35{
    background-image: url('../images-planets/35-Malastare.png');
}

.c36{
    background-image: url('../images-planets/36-Dathomir.png');
}

.c37{
    background-image: url('../images-planets/37-Ryloth.png');
}

.c38{
    background-image: url('../images-planets/38-AleenMinor.png');
}

.c39{
    background-image: url('../images-planets/39-Vulpter.png');
}

.c40{
    background-image: url('../images-planets/40-Troiken.jpg');
    background-size: cover !important;
}

.c41{
    background-image: url('../images-planets/41-Tund.png');
}

.c42{
    background-image: url('../images-planets/42-HaruunKal.png');
}

.c43{
    background-image: url('../images-planets/43-Cerea.png');
}

.c44{
    background-image: url('../images-planets/44-Glee_Anselm.png');
}

.c45{
    background-image: url('../images-planets/45-Iridonia.png');
}

.c46{
    background-image: url('../images-planets/46-tholoth.png');
}

.c47{
    background-image: url('../images-planets/47-Iktotch.png');
}

.c48{
    background-image: url('../images-planets/48-Quermia.png');
}

.c49{
    background-image: url('../images-planets/49-Dorin.png');
}

.c50{
    background-image: url('../images-planets/50-Champala.png');
}

.c51{
    background-image: url('../images-planets/51-Mirial.png');
}

.c52{
    background-image: url('../images-planets/52-Serenno.png');
}

.c53{
    background-image: url('../images-planets/53-concord-dawn.jpg');
}

.c54{
    background-image: url('../images-planets/54-Zolan.png');
}

.c55{
    background-image: url('../images-planets/55-Ojom.png');
}

.c56{
    background-image: url('../images-planets/56-Skako.png');
}

.c57{
    background-image: url('../images-planets/57-Muunilinst.png');
}

.c58{
    background-image: url('../images-planets/58-shili.png');
}

.c59{
    background-image: url('../images-planets/59-Kalee.png');
}

.c60 {
    background-image: url('../images-planets/60-Umbara.png');
}