.c2 {
    background-image: url('../starships-images/2-cr90.png');
}

.c3 {
    background-image: url('../starships-images/3-star_destroyer.png');
}

.c5 {
    background-image: url('../starships-images/5-sentinel.png');
    background-size: cover !important;
}

.c9 {
    background-image: url('../starships-images/9-death_star.png');
    background-size: cover !important;
}

.c10 {
    background-image: url('../starships-images/10-millennium.png');
}

.c11 {
    background-image: url('../starships-images/11-Ywing.png');
}

.c12 {
    background-image: url('../starships-images/12-Xwing.png');
    background-size: cover !important;
}

.c13 {
    background-image: url('../starships-images/13-tie.png');
}

.c15 {
    background-image: url('../starships-images/15-executor.png');
}

.c17 {
    background-image: url('../starships-images/17-rebel.png');
}

.c21 {
    background-image: url('../starships-images/21-slave.png');
}

.c22 {
    background-image: url('../starships-images/22-imperial.png');
    background-size: cover !important;
}

.c23 {
    background-image: url('../starships-images/23-ef76.png');
}

.c27 {
    background-image: url('../starships-images/27-calamari.png');
}

.c28 {
    background-image: url('../starships-images/28-Awing.png');
}

.c29 {
    background-image: url('../starships-images/29-Bwing.png');
}

.c31 {
    background-image: url('../starships-images/31-cruiser.png');
}

.c32 {
    background-image: url('../starships-images/32-droid.png');
}

.c39 {
    background-image: url('../starships-images/39-naboo.png');
}

.c40 {
    background-image: url('../starships-images/40-naboo_royal.png');
}

.c41 {
    background-image: url('../starships-images/41-scimitar.png');
}

.c43 {
    background-image: url('../starships-images/43-j_type.png');
}

.c47 {
    background-image: url('../starships-images/47-aa9.png');
}

.c48 {
    background-image: url('../starships-images/48-jedi_star.png');
}

.c49 {
    background-image: url('../starships-images/49-h_type.png');
}

.c52 {
    background-image: url('../starships-images/52-republic.png');
}

.c58 {
    background-image: url('../starships-images/58-solar.png');
}

.c59 {
    background-image: url('../starships-images/59-trade.png');
}

.c61 {
    background-image: url('../starships-images/61-theta.png');
}

.c63 {
    background-image: url('../starships-images/63-republic_cruiser.png');
}

.c64 {
    background-image: url('../starships-images/64-naboo_j.png');
}

.c65 {
    background-image: url('../starships-images/65-jedi_interceptor.png');
}

.c66 {
    background-image: url('../starships-images/66-arc170.png');
}

.c68 {
    background-image: url('../starships-images/68-frigate.png');
}

.c74 {
    background-image: url('../starships-images/74-belbullab.png');
}

.c75 {
    background-image: url('../starships-images/75-Vwing.png');
}

